*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

$primeColor: #41badb;
$secColor: #42bd9a;

$primeFont: "Raleway", sans-serif;
$secFont: "Montserrat", sans-serif;

// ================================ Animation ==================================

.animation {
  background-color: #131313;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 5;

  #topHeading {
    font-family: $primeFont;
    font-weight: 200;
    color: #fff;
    position: absolute;
    top: 5%;
    left: 44%;
    font-size: 3em;
    opacity: 0;
    color: #ffffff;
    text-shadow: 4px 3px 2px #000000, 4px 3px 2px #000000;
    animation: intro 3s ease-out forwards 7.5s;
  }

  #bottomHeading {
    font-family: $primeFont;
    font-weight: 200;
    color: #fff;
    position: absolute;
    top: 65%;
    left: 27%;
    font-size: 3em;
    opacity: 0;
    text-shadow: 4px 3px 2px #000000, 4px 3px 2px #000000;
    animation: intro 3s ease-out forwards 7.5s;
  }

  @keyframes intro {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .svg {
    position: absolute;
    top: 36%;
    left: 49%;
    transform: translate(-50%, -50%);
  }

  button {
    opacity: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: $secFont;
    position: absolute;
    top: 77%;
    left: 42%;
    font-size: 1.1em;
    background: transparent;
    color: #fff;
    border: solid 1px #fff;
    width: 13%;
    height: 8%;
    cursor: pointer;
    box-shadow: 6px 6px 6px #000000;
    transition: 250ms ease-out;
    animation: button 2s ease-in forwards 7s;

    &:hover {
      background: #50b5d2;
      border: solid 15px #50b5d2;
    }

    .arrowBtn {
      transition: 250ms ease-in-out;
    }

    &:hover .arrowBtn {
      animation: bounce 0.8s linear infinite 0.1s,
        infiniteSpin 0.9s linear infinite 2.9s; //0.9/2.9/1997 Birthday
    }
  }

  button:focus {
    outline: none;
  }
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-5px);
  }
}

@keyframes infiniteSpin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// ================================ First Name ==================================

.firstName {
  animation: firstNameFill 1s ease-out forwards 6s;
}

#firstH {
  stroke-dasharray: 21em;
  stroke-dashoffset: 21em;
  animation: script 2.5s ease-out forwards 2s;
}

#firstR {
  stroke-dasharray: 12em;
  stroke-dashoffset: 12em;
  animation: script 2.5s ease-out forwards 2.3s;
}

#firstI {
  stroke-dasharray: 11em;
  stroke-dashoffset: 11em;
  animation: script 2.5s ease-out forwards 2.6s;
}

#firstS {
  stroke-dasharray: 11em;
  stroke-dashoffset: 11em;
  animation: script 2.5s ease-out forwards 2.9s;
}

@keyframes firstNameFill {
  from {
    fill: transparent;
  }
  to {
    fill: $secColor;
  }
}

// ================================ Last Name ==================================

.lastName {
  animation: lastNameFill 1s ease-out forwards 6s;
}

#firstLastO {
  stroke-dasharray: 12em;
  stroke-dashoffset: 12em;
  animation: script 2.5s ease-out forwards 2s;
}

#firstLastR {
  stroke-dasharray: 12em;
  stroke-dashoffset: 12em;
  animation: script 2.5s ease-out forwards 2.3s;
}

#lastD {
  stroke-dasharray: 17em;
  stroke-dashoffset: 17em;
  animation: script 2.5s ease-out forwards 2.6s;
}

#lastE {
  stroke-dasharray: 13em;
  stroke-dashoffset: 13em;
  animation: script 2.5s ease-out forwards 2.9s;
}

#secondLastR {
  stroke-dasharray: 12em;
  stroke-dashoffset: 12em;
  animation: script 2.5s ease-out forwards 3.2s;
}

#secondLastO {
  stroke-dasharray: 12em;
  stroke-dashoffset: 12em;
  animation: script 2.5s ease-out forwards 3.5s;
}

@keyframes lastNameFill {
  from {
    fill: transparent;
  }
  to {
    fill: $secColor;
  }
}

@keyframes script {
  to {
    stroke-dashoffset: 0;
  }
}

// ================================ Line & First Letters ==================================

.line {
  opacity: 0;
  animation: lineFlip 2s linear forwards 6.5s;
}

@keyframes lineFlip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#firstC {
  opacity: 0;
  animation: appearance 2s linear forwards;
}

#lastC {
  opacity: 0;
  animation: appearance 2s linear forwards;
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// ======================================= ^ ANIMATION ^ =======================================

// =======================================  Header  =======================================

header {
  width: 100%;
  height: 80px;
  background: #04060f;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75), 0px 1px 4px rgba(0, 0, 0, 0.75);
  z-index: 5;

  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
    padding: 0 1em;
    font-family: $primeFont;
    font-size: 1.25em;
    color: #fff;
    transition: 250ms ease-out;

    &:hover {
      color: $secColor;
    }

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0.1em;
      background: $primeColor;
      transition: 250ms ease-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

// ======================================= ^ Header ^ =======================================

// ======================================= About Me =========================================

#aboutMe {
  margin-top: 5em;

  h1 {
    text-align: center;
    font-family: $primeFont;
    font-size: 3em;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    &::after {
      content: "";
      display: block;
      width: 12%;
      height: 0.1em;
      margin-left: 44%;
      background: $primeColor;
    }
  }

  #profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 5em auto 0 auto;
    width: 80%;

    #meSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        45deg,
        #181818,
        52%,
        rgb(76, 170, 196) 75%
      );
      box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.75);
      height: 100%;
    }

    img {
      border-radius: 25em;
      margin-bottom: 0.65em;
      -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    h2 {
      font-family: $primeFont;
      font-size: 1.7em;
      color: rgb(240, 240, 240);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

      &::after {
        content: "";
        display: block;
        width: 85%;
        height: 0.1em;
        margin-left: 8%;
        background: $primeColor;
      }
    }

    p {
      font-family: $primeFont;
      width: 85%;
      text-align: justify;
      font-size: 1.25em;
      color: #333;
      border: solid 4px $secColor;
      padding: 2em;
      font-weight: 600;
    }
  }
}

#skillsTitle {
  text-align: center;
  font-family: $primeFont;
  font-size: 2.25em;
  color: #333;
  margin-top: 3em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

  &::after {
    content: "";
    display: block;
    width: 8.5%;
    height: 0.1em;
    margin-left: 45.5%;
    background: $primeColor;
  }
}

.langLogo {
  text-align: center;
  margin: 2em 0;
  background: #333;
  width: 100%;
  height: 10em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5), 0px -4px 6px rgba(0, 0, 0, 0.5);

  svg {
    width: 6.5%;
    height: auto;
    margin: 1.85em 2em;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.4);
    }
  }
}

.reactLogo {
  circle {
    position: absolute;
    top: 20%;
  }
}

// ======================================= ^ About Me ^ =========================================

// ======================================= Portfolio ============================================

#portfolio {
  margin-top: 6em;
  h1 {
    text-align: center;
    font-family: $primeFont;
    font-size: 3em;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    &::after {
      content: "";
      display: block;
      width: 10%;
      height: 0.1em;
      margin-left: 45%;
      background: $primeColor;
    }
  }
}

@keyframes shrink {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-600px);
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 2em;
  width: 90%;
  margin: 4em auto;

  h4 {
    font-family: $primeFont;
    font-weight: 600;
    width: 95%;
    text-align: justify;
    margin: 0 auto 0.3em auto;
    color: #333;
  }
}

#project1 {
  border: solid 5px $secColor;
}

#project2 {
  border: solid 5px $primeColor;
}

#project3 {
  border: solid 5px $primeColor;
}

#project4 {
  border: solid 5px $secColor;
}

@keyframes gitSpin {
  to {
    transform: rotate(360deg);
  }
}

.projectCard1 {
  svg {
    width: 10%;
    height: auto;
  }

  .githubLogo1 {
    margin-left: 10em;
    width: 12%;
    height: auto;

    &:hover {
      animation: socialBounce 600ms linear infinite;
    }
  }

  .htmlLogo1 {
    margin-left: 1em;
    margin-top: 2em;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.3);
    }
  }
  .cssLogo1 {
    margin-left: 1em;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.3);
    }
  }
  .javascriptLogo1 {
    margin-left: 1em;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.3);
    }
  }
}

.projectCard2 {
  position: relative;

  svg {
    width: 10%;
    height: auto;
  }

  .githubLogo2 {
    margin-left: 12em;
    width: 12%;
    height: auto;

    &:hover {
      animation: socialBounce 600ms linear infinite;
    }
  }

  .reactLogo2 {
    margin-top: 2em;
    margin-left: 2em;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.3);
    }
  }

  .cssLogo2 {
    margin-left: 2em;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.3);
    }
  }
}

.projectCard3 {
  position: relative;

  svg {
    width: 10%;
    height: auto;
  }

  .githubLogo3 {
    margin-left: 12em;
    width: 12%;
    height: auto;

    &:hover {
      animation: socialBounce 600ms linear infinite;
    }
  }

  .reactLogo3 {
    margin-top: 2em;
    margin-left: 2em;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.3);
    }
  }

  .cssLogo3 {
    margin-left: 2em;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.3);
    }
  }
}

.projectCard4 {
  position: relative;

  svg {
    width: 10%;
    height: auto;
  }

  .githubLogo4 {
    margin-left: 10em;
    width: 12%;
    height: auto;

    &:hover {
      animation: socialBounce 600ms linear infinite;
    }
  }

  .reactLogo4 {
    margin-top: 2em;
    margin-left: 1em;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.3);
    }
  }

  .railsLogo4 {
    margin-left: 1em;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.3);
    }
  }

  .cssLogo4 {
    margin-left: 1em;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.3);
    }
  }
}

.hoverCard {
  position: relative;
  img {
    transition: 250ms ease-out;
  }
}

.hoverCard:hover {
  img {
    opacity: 0.5;
  }
}
.hoverText1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-out 250ms;
  font-family: $primeFont;
  font-size: 2.5rem;
  color: #333;
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0.1em;
    background: $primeColor;
    transition: 250ms ease-out;
  }

  a {
    text-decoration: none;
    font-family: $primeFont;
    font-size: 2.5rem;
    color: #333;
    font-weight: 600;
  }
}

.hoverText {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-out 250ms;
  font-family: $primeFont;
  font-size: 2.5rem;
  color: #333;
  text-align: center;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0.1em;
    background: $primeColor;
    transition: 250ms ease-out;
  }

  a {
    text-decoration: none;
    font-family: $primeFont;
    font-size: 2.5rem;
    color: #333;
    font-weight: 600;
  }
}

.hoverText:hover::after {
  width: 100%;
}

.hoverText1:hover::after {
  width: 100%;
}

.hoverCard:hover .hoverText {
  opacity: 1;
}

.hoverCard:hover .hoverText1 {
  opacity: 1;
}

// ======================================= ^ Portfolio ^ ============================================

// ======================================= Contact Me ===============================================

#contactMe {
  margin-top: 10em;
  height: 40vh;
  h1 {
    text-align: center;
    font-family: $primeFont;
    font-size: 2.35em;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    &::after {
      content: "";
      display: block;
      width: 11%;
      height: 0.1em;
      margin-left: 44.5%;
      background: #41badb;
    }
  }
  p {
    font-family: $primeFont;
    font-size: 1.5em;
    text-align: center;
    margin-top: 2em;
  }
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto 0 auto;
  background: #333;
  width: 40%;
  height: 5em;
  border-radius: 20em;

  svg {
    fill: #fff;
    margin: 0 2em;
    transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  svg:hover {
    transform: scale(1.2);
    fill: $secColor;
  }
}

// ======================================= ^ Contact Me ^ ============================================

// =========================================== Footer ================================================

footer {
  background: #131313;
  height: 125px;
  width: 100%;
  font-family: $primeFont;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    color: #fff;
    font-size: 1.25em;
    span {
      color: $secColor;
      font-size: 1em;
    }
  }
}

#socialTags {
  margin: 1em;

  svg {
    margin: 0 1em;
    height: 3em;
    width: 3em;
    fill: #fff;
    transition: 250ms ease-out;

    &:hover {
      fill: $secColor;
      animation: socialBounce 0.8s linear infinite;
    }
  }
}

@keyframes socialBounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-5px);
  }
}

// ========================================= ^ Footer ^ =============================================

// ========================================= Media Query =============================================

// PHONES

@media screen and (max-width: 420px) {
  * {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .animation {
    width: 100%;

    #topHeading {
      font-size: 2.5em;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #bottomHeading {
      font-size: 2em;
      width: 100%;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    button {
      width: 50%;
      position: absolute;
      top: 75%;
      left: 49%;
      transform: translate(-50%, -50%);
    }
  }

  .svg {
    width: 310px;
    height: auto;
    opacity: 1;
  }

  header {
    position: sticky;
    top: 0;
    li {
      font-size: 0.9em;
      padding: 0.5em;
    }
  }

  #aboutMe {
    margin-top: 2em;

    h1 {
      font-size: 2.5em;

      &::after {
        width: 40%;
        margin-left: 30%;
      }
    }

    #profile {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 2em;

      #meSection {
        h2 {
          font-size: 1.5em;
          padding-bottom: 0.5em;
        }
        img {
          margin-top: 0.5em;
        }
      }

      p {
        margin-top: 1em;
        width: 100%;
        padding: 0.5em;
        font-size: 1.2em;
        font-weight: 600;
        text-align: center;
        background-color: $primeColor;
        color: #fff;
      }
    }
  }

  #skillsTitle {
    margin-top: 1em;

    &::after {
      width: 30%;
      margin-left: 35%;
    }
  }

  .langLogo {
    height: 10em;
    svg {
      margin: 1em;
      width: 11%;
      height: auto;
    }
  }

  #portfolio {
    margin-top: 1em;

    h1 {
      &::after {
        width: 40%;
        margin-left: 30%;
      }
    }
  }

  #project3 {
    border: solid 5px $secColor;
  }
  #project4 {
    border: solid 5px $primeColor;
  }

  .projects {
    display: flex;
    flex-direction: column;
    h4 {
      font-size: 0.9em;
    }
  }

  .projectCard1 {
    margin-bottom: 1.5em;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: .1em;
      background-image: linear-gradient(
        90deg,
        #181818,
        15%,
        rgb(76, 170, 196) 75%
      );
      margin: 1em auto;
    }

    .githubLogo1 {
      margin-left: 4.5em;
    }
    .htmlLogo1 {
      margin-top: 1em;
    }
  }
  .projectCard2 {
    margin-bottom: 1.5em;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: .1em;
      background-image: linear-gradient(
        90deg,
        #181818,
        15%,
        rgb(76, 170, 196) 75%
      );
      margin: 1em auto;
    }
    .githubLogo2 {
      margin-left: 5.5em;
    }
    .reactLogo2 {
      margin-top: 1em;
    }
  }
  .projectCard3 {
    margin-bottom: 1.5em;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: .1em;
      background-image: linear-gradient(
        90deg,
        #181818,
        15%,
        rgb(76, 170, 196) 75%
      );
      margin: 1em auto;
    }
    .githubLogo3 {
      margin-left: 5.5em;
    }
    .reactLogo3 {
      margin-top: 1em;
    }
  }
  .projectCard4 {

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: .1em;
      background-image: linear-gradient(
        90deg,
        #181818,
        15%,
        rgb(76, 170, 196) 75%
      );
      margin: 1em auto;
    }
    .githubLogo4 {
      margin-left: 5em;
    }
    .reactLogo4 {
      margin-top: 1em;
    }
  }

  .hoverText {
    position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    a {
      font-size: .8em;
    }
  }

  .hoverText1 {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    a {
      font-size: .8em;
    }
  }

  #contactMe {
    margin-top: 2em;
    h1 {
      &::after {
        width: 45%;
        margin-left: 28%;
      }
    }
  }

  #contact {
    width: 85%;
  }
}

// ========================================= ^ Media Query ^ =============================================

// TABLETS

@media only screen and (max-width: 1050px) {
}
